.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.linkAuth {
    margin: 10px 20px;
}
