.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oneElem {
    width: 200px;
    height: 50px;
    font-size: 24px;
    margin: 10px;
    text-align: center;
}
